#one{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    border: 10px solid darkturquoise;
    border-radius: 20px ;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(237, 33, 33);
    line-height: 10;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
}

#two{
    padding: 10px 15px;
    margin: 100px;
    border: 10px dotted red;
    border-radius: 70px;
    background-color: bisque;
}

#box1{
    height: 200px;
    width: 200px;
    border: 6px solid red;
    box-sizing: border-box;
    text-align: center;
    background-color: yellow;
    border-radius: 15px;
    margin: 5px;
    line-height: 10;
    
}

#box2{
    height: 200px;
    width: 200px;
    border: 10px solid rgb(49, 9, 193);
    box-sizing: content-box;
    text-align: center;
    background-color: rgb(255, 127, 193);
    border-radius: 20px;
    margin: 6px;
    line-height: 13;
}