.box{
    width: 100px;
    height: 100px;
    background-color: salmon;
    text-align: center;
}
@media screen and (min-width:300px) {
    .box{
        height: 150px;
        width: 150px;
    }
}