body{
    font-size: 100px;
}

#third{
    height: 200px;
    background-color: aqua;
    font-size: 25px;
}

#fourth{
    background-color: blueviolet;
    width: 70%;
    height: 50%;
    font-size: 2em;
}